<% include header %>

<%include headbar%>

<div class="About">
  <h2>Wat is dit?</h2>
  <p>Welkom op Jef's Advanced Front-end Coding. Deze website is gemaakt om mijn vooruitgang bij te houden over het vak AFC. Al mijn nieuwigheden zal ik hierop posten. <br>
  Onderaan de posts kan je sorteren op tags zodat je samenhorende posts kan lezen. Als je terug alle posts in chronologische volgorde wil zien kan je terug naar de homepagina of klik je bovenaan gewoon op "posts". <br><br>
Veel plezier op deze website!</p>
</div>



<% include footer %>
