<div class="Header">

    <a class="HeadTitle one" href="/"><strong>Jef's</strong> <span>A</span>dvanced <span>F</span>ront-end <span>C</span>oding </a>
    <a class="HeadTitle two" href="/"><strong>Jef's</strong> <span>AFC</span> </a>

    <nav>
      <a href="/about">About this site</a>
      <a href="/">Posts</a>
    </nav>

</div>
