body {
  font-family: 'Titillium Web', sans-serif; }

.Header {
  margin-top: 50px;
  padding-bottom: 50px;
  display: grid;
  background: white;
  grid-template-columns: 20% 500px 30% 20%;
  grid-template-rows: auto; }
  .Header .HeadTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: #1afcc7; }
    .Header .HeadTitle span {
      color: #1bfcfc; }
    .Header .HeadTitle strong {
      color: black; }
  .Header .one {
    display: block; }
  .Header .two {
    display: none; }
  .Header nav {
    margin-top: 10px;
    grid-column-start: 3;
    grid-column-end: 3; }
    .Header nav a {
      display: block;
      float: right;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      padding: 20px;
      position: relative;
      padding-bottom: 10px;
      text-decoration: none;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .Header nav a:after {
      content: "";
      position: absolute;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .Header nav a:hover:after {
      bottom: 2px;
      left: 10%;
      height: 3px;
      width: 80%;
      background: -webkit-gradient(linear, left top, right top, from(#1afcc7), to(#1bfcfc));
      background: -webkit-linear-gradient(left, #1afcc7, #1bfcfc);
      background: -o-linear-gradient(left, #1afcc7, #1bfcfc);
      background: linear-gradient(to right, #1afcc7, #1bfcfc); }
  .Header .typed-cursor {
    display: none; }

.PostSummaries {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto; }
  .PostSummaries section {
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 5px 1px 15px lightgrey;
    box-shadow: 5px 1px 15px lightgrey;
    grid-column-start: 2;
    grid-column-end: 2; }
    .PostSummaries section a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: black; }
      .PostSummaries section a h2 {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px; }
      .PostSummaries section a img {
        width: 100%; }
      .PostSummaries section a p:nth-of-type(1) {
        font-style: italic; }
      .PostSummaries section a p:nth-of-type(2) {
        margin-top: 20px; }
  .PostSummaries section:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 3; }
  .PostSummaries section:nth-of-type(3) {
    grid-column-start: 4;
    grid-column-end: 4; }
  .PostSummaries section:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 2; }
  .PostSummaries section:nth-of-type(2n) {
    background: -webkit-gradient(linear, left top, right top, from(#1bfcfc), to(#1afcc7));
    background: -webkit-linear-gradient(left, #1bfcfc, #1afcc7);
    background: -o-linear-gradient(left, #1bfcfc, #1afcc7);
    background: linear-gradient(to right, #1bfcfc, #1afcc7); }
    .PostSummaries section:nth-of-type(2n) h2 {
      color: white; }
    .PostSummaries section:nth-of-type(2n) p {
      color: white; }

.BigArticle img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  margin-top: -250px; }

.BigArticle h2 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 25%;
  margin: auto;
  margin-top: 200px;
  padding: 30px;
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.5); }

.BigArticle h2:after {
  content: "";
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 0px;
  height: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#1afcc7), to(#1bfcfc));
  background: -webkit-linear-gradient(left, #1afcc7, #1bfcfc);
  background: -o-linear-gradient(left, #1afcc7, #1bfcfc);
  background: linear-gradient(to right, #1afcc7, #1bfcfc); }

.BigArticle h3 {
  width: 50%;
  margin: auto;
  margin-bottom: -3px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: -10px;
  margin-top: 50px; }

.BigArticle .ArticleBody {
  width: 50%;
  margin: auto;
  background: white; }
  .BigArticle .ArticleBody p:nth-of-type(1) {
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    line-height: 25px; }
  .BigArticle .ArticleBody p:nth-of-type(2) {
    font-weight: 400;
    font-size: 20px;
    padding: 30px;
    line-height: 25px; }

.BigArticle .tags {
  width: 50%;
  margin: auto;
  font-size: 20px;
  font-weight: bold; }
  .BigArticle .tags a {
    color: black;
    display: block;
    float: left;
    padding: 10px;
    width: 10%;
    background: -webkit-gradient(linear, left top, right top, from(#1afcc7), to(#1bfcfc));
    background: -webkit-linear-gradient(left, #1afcc7, #1bfcfc);
    background: -o-linear-gradient(left, #1afcc7, #1bfcfc);
    background: linear-gradient(to right, #1afcc7, #1bfcfc);
    border-radius: 10px;
    margin-left: 20px;
    text-decoration: none; }

.Tag {
  width: 50%;
  font-size: 20px;
  margin: auto;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px; }

.About {
  width: 50%;
  margin: auto;
  font-size: 20px;
  line-height: 25px; }
  .About h2 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px; }

@media screen and (max-width: 1200px) {
  .Header {
    grid-template-columns: 5% 30% 60% 5%; }
    .Header .one {
      display: none; }
    .Header .two {
      display: block; } }

@media screen and (max-width: 1000px) {
  .PostSummaries {
    grid-template-columns: 5% 90% 5%; }
    .PostSummaries section {
      grid-column-start: 2;
      grid-column-end: 2; }
    .PostSummaries section:nth-of-type(2) {
      grid-column-start: 2;
      grid-column-end: 2; }
    .PostSummaries section:nth-of-type(3) {
      grid-column-start: 2;
      grid-column-end: 2; }
    .PostSummaries section:nth-of-type(4) {
      grid-column-start: 2;
      grid-column-end: 2; }
  .BigArticle h2 {
    width: 50%; }
  .BigArticle .ArticleBody {
    width: 80%; }
  .BigArticle .tags a {
    width: 20%;
    margin-top: 20px; }
  .About {
    width: 80%; } }

@media screen and (max-width: 600px) {
  .PostSummaries {
    grid-template-columns: 1% 98% 1%; }
    .PostSummaries section {
      grid-column-start: 2;
      grid-column-end: 2; }
    .PostSummaries section:nth-of-type(2) {
      grid-column-start: 2;
      grid-column-end: 2; }
    .PostSummaries section:nth-of-type(3) {
      grid-column-start: 2;
      grid-column-end: 2; }
    .PostSummaries section:nth-of-type(4) {
      grid-column-start: 2;
      grid-column-end: 2; }
  .BigArticle h2 {
    width: 80%; }
  .BigArticle .ArticleBody {
    width: 90%; }
    .BigArticle .ArticleBody p:nth-of-type(1) {
      font-size: 13px; }
  .BigArticle .tags a {
    width: 20%;
    margin-top: 20px;
    font-size: 13px; }
  .About {
    width: 90%; } }
